
<h1 mat-dialog-title class="center">Cadastro de Esporte</h1>
<form [formGroup] = "formEsporte" >


    <button
    style="width: 100%;"
    mat-button
    color="primary"
    (click)="fileInput.click()">
      <!-- <mat-icon>image_search</mat-icon> -->
      <div class="imgcontainer">
        <img *ngIf="preview" [src]="preview" class="avatar">
        <img *ngIf="!preview" src="assets/images/default_user.jpg" class="avatar">
      </div>
  </button>

    <input
    #fileInput
    formControlName="imagemFile"
    hidden
    type="file"
    accept="image/*"
    (change)="handleFile($event.target)">


    <div mat-dialog-content>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Nome</mat-label>
            <input
                cdkFocusInitial
                matInput
                formControlName="nome">
                <mat-error *ngIf="nome.invalid && (nome.dirty || nome.touched)">
                    <div *ngIf="nome.errors?.['required']">
                      Campo obrigatório.
                    </div>
                </mat-error>
        </mat-form-field>
    </div>
  
    <div mat-dialog-content>
      <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Modalidade</mat-label>
          <input cdkFocusInitial matInput formControlName="modalidade" >
      </mat-form-field>
  </div>
  
  <div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="submit()" >Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </div>
</form>
