<div class="titulo">
    <h2>Atualizar Produto</h2>
  </div>
  <form [formGroup]="formProduto">
  <div class="box-main">
    <div class="box">
      <mat-form-field appearance="outline" class="input-m">
        <mat-label>Nome</mat-label>
        <input matInput autocomplete="off" formControlName="nome">
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-p">
        <mat-label>Preço</mat-label>
        <input type="number" matInput autocomplete="off" placeholder="0" formControlName="preco">
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-p">
        <mat-label>Desconto</mat-label>
        <input type="number" matInput autocomplete="off" placeholder="0" formControlName="desconto">
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-p">
        <mat-label>Estoque</mat-label>
        <input type="number" matInput autocomplete="off" placeholder="0" formControlName="quantidade">
      </mat-form-field>
    </div>

    <div class="box">
      <mat-form-field appearance="outline" class="input-g">
        <mat-label>Link</mat-label>
        <input matInput autocomplete="off" formControlName="link">
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-m">
        <mat-label>Marca</mat-label>
        <input matInput autocomplete="off" formControlName="marca">
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-g">
        <mat-label>Tipo(s)</mat-label>
        <input matInput autocomplete="off">
      </mat-form-field>
    </div>

    <div class="box">
      <mat-form-field appearance="outline" class="descricao">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="descricao"></textarea>
      </mat-form-field>
    </div>

    <div class="acoes">
      <button mat-stroked-button class="botao-salvar" (click)="editar()">SALVAR</button>
      <button mat-stroked-button mat-dialog-close class="botao-cancelar">CANCELAR</button>
    </div>
</div>
</form>