<div class="titulo">
  <h2>Cadastro de Produto</h2>
</div>
<form [formGroup]="formProduto">
<div class="box-main">
  <div class="box-imagem">
    <button class="botao-imagem" (click)="fileInput.click()">
      <div class="imgcontainer">
          <img *ngIf="preview" [src]="preview" class="foto-produto" alt="Imagem do produto">
          <img *ngIf="!preview" src="assets/imagens/default-placeholder.png" class="foto-produto" alt="Imagem do produto">
      </div>
      <input #fileInput formControlName="imagem" hidden type="file" accept="image/*"
      (change)="handleFile($event.target)">
  </button>
  <button mat-stroked-button *ngIf="preview" (click)="removerImagem()">Remover imagem</button>

  </div>
  <div class="box">
    <mat-form-field appearance="outline" class="input-m">
      <mat-label>Nome</mat-label>
      <input matInput autocomplete="off" formControlName="nome">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-p">
      <mat-label>Preço</mat-label>
      <input type="number" matInput autocomplete="off" placeholder="0" formControlName="preco">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-p">
      <mat-label>Desconto</mat-label>
      <input type="number" matInput autocomplete="off" placeholder="0" formControlName="desconto">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-p">
      <mat-label>Estoque</mat-label>
      <input type="number" matInput autocomplete="off" placeholder="0" formControlName="quantidade">
    </mat-form-field>
  </div>

  <div class="box">
    <mat-form-field appearance="outline" class="input-g">
      <mat-label>Link</mat-label>
      <input matInput autocomplete="off" formControlName="link">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-m">
      <mat-label>Marca</mat-label>
      <input matInput autocomplete="off" formControlName="marca">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-g">
      <mat-label>Tipo(s)</mat-label>
      <input matInput autocomplete="off">
    </mat-form-field>
  </div>

  <div class="box">
    <mat-form-field appearance="outline" class="descricao">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="descricao"></textarea>
    </mat-form-field>
  </div>

  <div class="acoes">
    <button mat-stroked-button class="botao-salvar" (click)="send()">SALVAR</button>
    <button mat-stroked-button class="botao-cancelar" (click)="cancelar()">CANCELAR</button>
  </div>
</div>
</form>



