<mat-card>

  <mat-toolbar >
    <span class="toolbar-center">Cidades</span>
    <button mat-icon-button color="accent">
      <mat-icon (click)="onAdd()" >add_box</mat-icon>
    </button>
  </mat-toolbar>

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. tocantins" #input>
  </mat-form-field>

    <table mat-table [dataSource]="cidades" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let cidade"> {{cidade.nome}} </td>
        </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="sigla">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let cidade"> {{cidade.estado.nome}} - {{cidade.estado.sigla}} </td>
          </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="acao">
              <th mat-header-cell *matHeaderCellDef> Ação </th>
              <td mat-cell *matCellDef="let cidade">
                <button mat-icon-button color="primary">
                  <mat-icon (click)="onEdit(cidade)">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn">
                  <mat-icon (click)="onDelete(cidade)">delete</mat-icon>
                </button>
             </td>
            </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</mat-card>
