
<mat-card>
    <mat-toolbar>
        <span class="toolbar-center">Esportes</span>
        <button mat-icon-button color="accent">
            <mat-icon (click)="onAdd()">add_box</mat-icon>
        </button>
    </mat-toolbar>

    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Futebol" #input>
    </mat-form-field>

    <table mat-table [dataSource]="esportes" class="mat-elevation-z8">

        <ng-container matColumnDef="imageUrl">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let data">
              <div class="imgcontainer">
                <img *ngIf="data.nomeImagem" width="90%" [src]="getImagem(data.nomeImagem)" >
                <img *ngIf="!data.nomeImagem" width="90%" src="assets/images/default_user.jpg" >
              </div>
            </td>
          </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let data"> {{data.nome}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="modalidade">
            <th mat-header-cell *matHeaderCellDef> Modalidade </th>
            <td mat-cell *matCellDef="let data"> {{data.modalidade}} </td>
        </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef> Ação </th>
            <td mat-cell *matCellDef="let data">
                <button mat-icon-button color="primary">
                    <mat-icon (click)="onEdit(data)">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn">
                    <mat-icon (click)="onDelete(data)">delete</mat-icon>
                </button>
              
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [length]="10" [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 8, 10]" aria-label="Select page">
    </mat-paginator>
  
</mat-card>