<mat-card>

  <mat-toolbar >
    <span class="toolbar-center">Estados</span>
    <button mat-icon-button color="accent">
      <mat-icon (click)="onAdd()" >add_box</mat-icon>
    </button>
  </mat-toolbar>
    
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. tocantins" #input>
  </mat-form-field>

    <table mat-table [dataSource]="estados" class="mat-elevation-z8">
      
        <!-- Name Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let estado"> {{estado.nome}} </td>
        </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="sigla">
            <th mat-header-cell *matHeaderCellDef> Sigla </th>
            <td mat-cell *matCellDef="let estado"> {{estado.sigla}} </td>
          </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="acao">
              <th mat-header-cell *matHeaderCellDef> Ação </th>
              <td mat-cell *matCellDef="let estado"> 
                <button mat-icon-button color="primary">
                  <mat-icon (click)="onEdit(estado)">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn">
                  <mat-icon (click)="onDelete(estado)">delete</mat-icon>
                </button> 
             </td>
            </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      
</mat-card>

